:root {
  --fs-text: 1.125rem;
  --lh-text: 1.38889;
  --ff-text: sofia-pro, sans-serif;
  --fw-text: ;
  --fs-text-m: 1rem;
  --lh-text-m: 1.2;
  --ff-text-m: ;
  --fw-text-m: ;
  --fs-text-sm: 0.9375rem;
  --lh-text-sm: 1.2;
  --ff-text-sm: ;
  --fw-text-sm: ;
  --fs-h1-extra: 1.5625rem;
  --lh-h1-extra: 1.12;
  --ff-h1-extra: ;
  --fw-h1-extra: ;
  --fs-h1: 1.5625rem;
  --lh-h1: 1.08;
  --ff-h1: ;
  --fw-h1: ;
  --fs-h2: 1.4375rem;
  --lh-h2: 1.26087;
  --ff-h2: ;
  --fw-h2: ;
  --fs-h2-s: 1.625rem;
  --lh-h2-s: 1.12;
  --ff-h2-s: ;
  --fw-h2-s: ;
  --fs-h3: 1.3125rem;
  --lh-h3: 1.14286;
  --ff-h3: ;
  --fw-h3: ;
  --fs-h3-s: 1.3125rem;
  --lh-h3-s: 1.14286;
  --ff-h3-s: ;
  --fw-h3-s: ;
  --fs-h4: 1.0625rem;
  --lh-h4: 1.29412;
  --ff-h4: ;
  --fw-h4: ;
  --fs-h5: 0.9375rem;
  --lh-h5: 1.26667;
  --ff-h5: ;
  --fw-h5: ;
  --fs-h6: 0.9375rem;
  --lh-h6: 1.26667;
  --ff-h6: ;
  --fw-h6: ;
  --fs-button: 0.9375rem;
  --lh-button: 1.26667;
  --ff-button: ;
  --fw-button: ;
  --fs-button-s: 0.8125rem;
  --lh-button-s: 1.38462;
  --ff-button-s: ;
  --fw-button-s: ;
  --fs-caption: 0.8125rem;
  --lh-caption: 1.30769;
  --ff-caption: ;
  --fw-caption: ;
  --fs-caption-sl: 0.8125rem;
  --lh-caption-sl: 1.23077;
  --ff-caption-sl: ;
  --fw-caption-sl: ;
  --fs-caption-l: 0.8125rem;
  --lh-caption-l: 1.38462;
  --ff-caption-l: ;
  --fw-caption-l: ;
  --fs-timestamp: 0.8125rem;
  --lh-timestamp: 1.30769;
  --ff-timestamp: ;
  --fw-timestamp: ;
  --fs-link: 0.875rem;
  --lh-link: 1.28571;
  --ff-link: ;
  --fw-link: ;
  --fs-paragraph: 0.875rem;
  --lh-paragraph: 1.28571;
  --ff-paragraph: ;
  --fw-paragraph: ;
  --fs-app-bar: 0.6875rem;
  --lh-app-bar: 1.54545;
  --ff-app-bar: ;
  --fw-app-bar: ;
  --fs-heading-sm: 1.125rem;
  --lh-heading-sm: 1.27778;
  --ff-heading-sm: ;
  --fw-heading-sm: ;
  --fs-heading-xsm: 1.125rem;
  --lh-heading-xsm: 1.27778;
  --ff-heading-xsm: ;
  --fw-heading-xsm: ;
  --fs-heading-s: 0.9375rem;
  --lh-heading-s: 1.2;
  --ff-heading-s: ;
  --fw-heading-s: ;
  --fs-heading-xxxl: 1.8125rem;
  --lh-heading-xxxl: normal;
  --ff-heading-xxxl: ;
  --fw-heading-xxxl: ;
  --fs-category: 0.8125rem;
  --lh-category: normal;
  --ff-category: ;
  --fw-category: ;
  --fs-flag: 0.6875rem;
  --lh-flag: normal;
  --ff-flag: ;
  --fw-flag: ;
  --fs-about-show: 1rem;
  --lh-about-show: 1.375;
  --ff-about-show: ;
  --fw-about-show: ;
  --fs-desc: 1rem;
  --lh-desc: 1.375;
  --ff-desc: ;
  --fw-desc: ;
  --fs-up-next: 0.875rem;
  --lh-up-next: normal;
  --ff-up-next: ;
  --fw-up-next: ;
  --fs-time: 1.4375rem;
  --lh-time: 1;
  --ff-time: ;
  --fw-time: ;
  --fs-am-pm: 1rem;
  --lh-am-pm: normal;
  --ff-am-pm: ;
  --fw-am-pm: ;
  --fs-on-air: 0.75rem;
  --lh-on-air: normal;
  --ff-on-air: ;
  --fw-on-air: ;
  --fs-day-nav: 0.9375rem;
  --lh-day-nav: normal;
  --ff-day-nav: ;
  --fw-day-nav: ;
  --fs-day-nav-act: 0.9375rem;
  --lh-day-nav-act: normal;
  --ff-day-nav-act: ;
  --fw-day-nav-act: ;
  --fs-date: 0.8125rem;
  --lh-date: 1.23077;
  --ff-date: ;
  --fw-date: ;
  --fs-episode: 1.125rem;
  --lh-episode: normal;
  --ff-episode: ;
  --fw-episode: ;
  --fs-episode-title: 0.9375rem;
  --lh-episode-title: 1.2;
  --ff-episode-title: ;
  --fw-episode-title: ;
  --fs-episode-desc: 0.875rem;
  --lh-episode-desc: 1.21429;
  --ff-episode-desc: ;
  --fw-episode-desc: ;
  --fs-presenters-author-name: 0.9375rem;
  --lh-presenters-author-name: normal;
  --ff-presenters-author-name: ;
  --fw-presenters-author-name: ;
  --fs-podcast-category: 0.9375rem;
  --lh-podcast-category: 1.2;
  --ff-podcast-category: ;
  --fw-podcast-category: ;
  --fs-play-btn: 0.9375rem;
  --lh-play-btn: normal;
  --ff-play-btn: ;
  --fw-play-btn: ;
  --fs-list-schedules-heading: 1.125rem;
  --lh-list-schedules-heading: 1.1;
  --ff-list-schedules-heading: ;
  --fw-list-schedules-heading: ;
  --fs-numbered: 2.125rem;
  --lh-numbered: normal;
  --ff-numbered: ;
  --fw-numbered: ;
  --fs-discover-block-title: 1.625rem;
  --lh-discover-block-title: normal;
  --ff-discover-block-title: ;
  --fw-discover-block-title: ;
  --fs-editor-pick-item-title: 1.125rem;
  --lh-editor-pick-item-title: 1.16667;
  --ff-editor-pick-item-title: ;
  --fw-editor-pick-item-title: ;
  --fs-numbered-discover: 2.25rem;
  --lh-numbered-discover: normal;
  --ff-numbered-discover: ;
  --fw-numbered-discover: ;
  --fs-numbered-discover-item-title: 1.125rem;
  --lh-numbered-discover-item-title: 1.16667;
  --ff-numbered-discover-item-title: ;
  --fw-numbered-discover-item-title: ;
  --fs-spotlight-item-title: 1.125rem;
  --lh-spotlight-item-title: 1.16667;
  --ff-spotlight-item-title: ;
  --fw-spotlight-item-title: ;
  --fs-grid1x4-title: 1.125rem;
  --lh-grid1x4-title: 1.38889;
  --ff-grid1x4-title: ;
  --fw-grid1x4-title: ;
  --fs-surpriseme: 1.125rem;
  --lh-surpriseme: normal;
  --ff-surpriseme: ;
  --fw-surpriseme: 600;
  --fs-ads: 0.625rem;
  --lh-ads: 1.6;
  --ff-ads: ;
  --fw-ads: normal;
  --fs-contact-us-title: 1.8125rem;
  --lh-contact-us-title: normal;
  --ff-contact-us-title: ;
  --fw-contact-us-title: bold;
  --fs-platform-des: 1.0625rem;
  --lh-platform-des: 1.41176;
  --ff-platform-des: ;
  --fw-platform-des: 300;
  --fs-platform-title: 1.125rem;
  --lh-platform-title: 1.33333;
  --ff-platform-title: ;
  --fw-platform-title: 300;
  --fs-submit-news-title: 1.4375rem;
  --lh-submit-news-title: normal;
  --ff-submit-news-title: ;
  --fw-submit-news-title: bold;
  --fs-tabs: 0.9375rem;
  --lh-tabs: normal;
  --ff-tabs: ;
  --fw-tabs: 600;
  --fs-weather-label-xxs: 0.625rem;
  --lh-weather-label-xxs: normal;
  --ff-weather-label-xxs: ;
  --fw-weather-label-xxs: ;
  --fs-weather-label-xs: 0.75rem;
  --lh-weather-label-xs: normal;
  --ff-weather-label-xs: ;
  --fw-weather-label-xs: ;
  --fs-weather-label-s: 0.875rem;
  --lh-weather-label-s: 1.28571;
  --ff-weather-label-s: ;
  --fw-weather-label-s: ;
  --fs-weather-label-m: 1rem;
  --lh-weather-label-m: 1.28571;
  --ff-weather-label-m: ;
  --fw-weather-label-m: ;
  --fs-weather-label-l: 1.125rem;
  --lh-weather-label-l: 1.375;
  --ff-weather-label-l: ;
  --fw-weather-label-l: ;
  --fs-weather-temp-s: 1.25rem;
  --lh-weather-temp-s: 1.3;
  --ff-weather-temp-s: ;
  --fw-weather-temp-s: ;
  --fs-weather-temp-m: 1.4375rem;
  --lh-weather-temp-m: 1.18182;
  --ff-weather-temp-m: ;
  --fw-weather-temp-m: ;
  --fs-help-feedback-title: 1.125rem;
  --lh-help-feedback-title: 1.38889;
  --ff-help-feedback-title: ;
  --fw-help-feedback-title: bold;
  --fs-live-stream-label: 0.9375rem;
  --lh-live-stream-label: normal;
  --ff-live-stream-label: ;
  --fw-live-stream-label: ;
  --fs-live-stream-time: 2rem;
  --lh-live-stream-time: normal;
  --ff-live-stream-time: ;
  --fw-live-stream-time: ;
  --fs-live-stream-divider: 1.5rem;
  --lh-live-stream-divider: normal;
  --ff-live-stream-divider: ;
  --fw-live-stream-divider: ;
  --fs-live-stream-time-label: 0.8125rem;
  --lh-live-stream-time-label: 1.69231;
  --ff-live-stream-time-label: ;
  --fw-live-stream-time-label: ;
  --fs-byline: 0.75rem;
  --lh-byline: normal;
  --ff-byline: ;
  --fw-byline: ;
}
@media (min-width: 920px) {
  :root {
    --fs-text: 1.25rem;
    --lh-text: 1.4;
    --ff-text: sofia-pro, sans-serif;
    --fw-text: ;
    --fs-text-m: 1.125rem;
    --lh-text-m: 1.27778;
    --ff-text-m: ;
    --fw-text-m: ;
    --fs-text-sm: 1.125rem;
    --lh-text-sm: 1.27778;
    --ff-text-sm: ;
    --fw-text-sm: ;
    --fs-h1-extra: 2.875rem;
    --lh-h1-extra: 1.08696;
    --ff-h1-extra: ;
    --fw-h1-extra: ;
    --fs-h1: 2rem;
    --lh-h1: 1.09375;
    --ff-h1: ;
    --fw-h1: ;
    --fs-h2: 1.625rem;
    --lh-h2: 1.26923;
    --ff-h2: ;
    --fw-h2: ;
    --fs-h2-s: 1.625rem;
    --lh-h2-s: 1.11538;
    --ff-h2-s: ;
    --fw-h2-s: ;
    --fs-h3: 1.625rem;
    --lh-h3: 1.11538;
    --ff-h3: ;
    --fw-h3: ;
    --fs-h3-s: 1.4375rem;
    --lh-h3-s: 1.13043;
    --ff-h3-s: ;
    --fw-h3-s: ;
    --fs-h4: 1.25rem;
    --lh-h4: 1.3;
    --ff-h4: ;
    --fw-h4: ;
    --fs-h5: 1.125rem;
    --lh-h5: 1.11111;
    --ff-h5: ;
    --fw-h5: ;
    --fs-h6: 1rem;
    --lh-h6: 1.25;
    --ff-h6: ;
    --fw-h6: ;
    --fs-button: 1rem;
    --lh-button: 1.1875;
    --ff-button: ;
    --fw-button: ;
    --fs-button-s: 0.875rem;
    --lh-button-s: 1.28571;
    --ff-button-s: ;
    --fw-button-s: ;
    --fs-caption: 0.75rem;
    --lh-caption: 1.25;
    --ff-caption: ;
    --fw-caption: ;
    --fs-caption-sl: 0.8125rem;
    --lh-caption-sl: 1.23077;
    --ff-caption-sl: ;
    --fw-caption-sl: ;
    --fs-caption-l: 1rem;
    --lh-caption-l: 1.375;
    --ff-caption-l: ;
    --fw-caption-l: ;
    --fs-timestamp: 0.75rem;
    --lh-timestamp: 1.25;
    --ff-timestamp: ;
    --fw-timestamp: ;
    --fs-link: 1rem;
    --lh-link: 1.25;
    --ff-link: ;
    --fw-link: ;
    --fs-heading-sm: 1.5rem;
    --lh-heading-sm: 1.5;
    --ff-heading-sm: ;
    --fw-heading-sm: ;
    --fs-heading-xsm: 1.375rem;
    --lh-heading-xsm: 1.63636;
    --ff-heading-xsm: ;
    --fw-heading-xsm: ;
    --fs-heading-s: 1.25rem;
    --lh-heading-s: 1.45;
    --ff-heading-s: ;
    --fw-heading-s: ;
    --fs-heading-xxxl: 2.625rem;
    --lh-heading-xxxl: normal;
    --ff-heading-xxxl: ;
    --fw-heading-xxxl: ;
    --fs-category: 1rem;
    --lh-category: normal;
    --ff-category: ;
    --fw-category: ;
    --fs-flag: 0.6875rem;
    --lh-flag: normal;
    --ff-flag: ;
    --fw-flag: ;
    --fs-about-show: 1rem;
    --lh-about-show: 1.5;
    --ff-about-show: ;
    --fw-about-show: ;
    --fs-desc: 1rem;
    --lh-desc: 1.5;
    --ff-desc: ;
    --fw-desc: ;
    --fs-up-next: 0.875rem;
    --lh-up-next: normal;
    --ff-up-next: ;
    --fw-up-next: ;
    --fs-time: 1.625rem;
    --lh-time: 1.11538;
    --ff-time: ;
    --fw-time: ;
    --fs-am-pm: 1rem;
    --lh-am-pm: normal;
    --ff-am-pm: ;
    --fw-am-pm: ;
    --fs-on-air: 0.75rem;
    --lh-on-air: normal;
    --ff-on-air: ;
    --fw-on-air: ;
    --fs-day-nav: 1rem;
    --lh-day-nav: 1.8125;
    --ff-day-nav: ;
    --fw-day-nav: ;
    --fs-day-nav-act: 1.25rem;
    --lh-day-nav-act: 1.45;
    --ff-day-nav-act: ;
    --fw-day-nav-act: ;
    --fs-date: 0.875rem;
    --lh-date: 1.28571;
    --ff-date: ;
    --fw-date: ;
    --fs-episode: 1.25rem;
    --lh-episode: normal;
    --ff-episode: ;
    --fw-episode: ;
    --fs-episode-title: 1rem;
    --lh-episode-title: 1.1875;
    --ff-episode-title: ;
    --fw-episode-title: ;
    --fs-episode-desc: 0.875rem;
    --lh-episode-desc: normal;
    --ff-episode-desc: ;
    --fw-episode-desc: ;
    --fs-presenters-author-name: 1.125rem;
    --lh-presenters-author-name: 1.11111;
    --ff-presenters-author-name: ;
    --fw-presenters-author-name: ;
    --fs-podcast-category: 0.875rem;
    --lh-podcast-category: normal;
    --ff-podcast-category: ;
    --fw-podcast-category: ;
    --fs-play-btn: 1rem;
    --lh-play-btn: normal;
    --ff-play-btn: ;
    --fw-play-btn: ;
    --fs-list-schedules-heading: 1.25rem;
    --lh-list-schedules-heading: 1;
    --ff-list-schedules-heading: ;
    --fw-list-schedules-heading: ;
    --fs-numbered: 3.125rem;
    --lh-numbered: normal;
    --ff-numbered: ;
    --fw-numbered: ;
    --fs-discover-block-title: 2.25rem;
    --lh-discover-block-title: normal;
    --ff-discover-block-title: ;
    --fw-discover-block-title: ;
    --fs-editor-pick-item-title: 1.5625rem;
    --lh-editor-pick-item-title: 1.2;
    --ff-editor-pick-item-title: ;
    --fw-editor-pick-item-title: ;
    --fs-numbered-discover: 3.125rem;
    --lh-numbered-discover: 0.7;
    --ff-numbered-discover: ;
    --fw-numbered-discover: ;
    --fs-numbered-discover-item-title: 1.125rem;
    --lh-numbered-discover-item-title: 1.11111;
    --ff-numbered-discover-item-title: ;
    --fw-numbered-discover-item-title: ;
    --fs-spotlight-item-title: 1.5rem;
    --lh-spotlight-item-title: 1.125;
    --ff-spotlight-item-title: ;
    --fw-spotlight-item-title: ;
    --fs-grid1x4-title: 1.5rem;
    --lh-grid1x4-title: 1.04167;
    --ff-grid1x4-title: ;
    --fw-grid1x4-title: ;
    --fs-surpriseme: 1.125rem;
    --lh-surpriseme: normal;
    --ff-surpriseme: ;
    --fw-surpriseme: 600;
    --fs-ads: 0.625rem;
    --lh-ads: 1.6;
    --ff-ads: ;
    --fw-ads: normal;
    --fs-feed-title: 2.25rem;
    --lh-feed-title: 1.08333;
    --ff-feed-title: ;
    --fw-feed-title: ;
    --fs-contact-us-title: 2.875rem;
    --lh-contact-us-title: normal;
    --ff-contact-us-title: ;
    --fw-contact-us-title: 600;
    --fs-platform-des: 1.125rem;
    --lh-platform-des: 1.44444;
    --ff-platform-des: ;
    --fw-platform-des: 300;
    --fs-platform-title: 1.25rem;
    --lh-platform-title: 1.3;
    --ff-platform-title: ;
    --fw-platform-title: 300;
    --fs-submit-news-title: 1.625rem;
    --lh-submit-news-title: normal;
    --ff-submit-news-title: ;
    --fw-submit-news-title: bold;
    --fs-tabs: 1rem;
    --lh-tabs: normal;
    --ff-tabs: ;
    --fw-tabs: 600;
    --fs-weather-label-xxs: 0.625rem;
    --lh-weather-label-xxs: normal;
    --ff-weather-label-xxs: ;
    --fw-weather-label-xxs: ;
    --fs-weather-label-xs: 0.75rem;
    --lh-weather-label-xs: normal;
    --ff-weather-label-xs: ;
    --fw-weather-label-xs: ;
    --fs-weather-label-s: 0.875rem;
    --lh-weather-label-s: 1.28571;
    --ff-weather-label-s: ;
    --fw-weather-label-s: ;
    --fs-weather-label-m: 1rem;
    --lh-weather-label-m: 1.375;
    --ff-weather-label-m: ;
    --fw-weather-label-m: ;
    --fs-weather-label-l: 1.125rem;
    --lh-weather-label-l: 1.38889;
    --ff-weather-label-l: ;
    --fw-weather-label-l: ;
    --fs-weather-temp-s: 1.25rem;
    --lh-weather-temp-s: 1.4;
    --ff-weather-temp-s: ;
    --fw-weather-temp-s: ;
    --fs-weather-temp-m: 1.625rem;
    --lh-weather-temp-m: 1.12;
    --ff-weather-temp-m: ;
    --fw-weather-temp-m: ;
    --fs-help-feedback-title: 1.25rem;
    --lh-help-feedback-title: 1.4;
    --ff-help-feedback-title: ;
    --fw-help-feedback-title: bold;
    --fs-live-stream-label: 1.25rem;
    --lh-live-stream-label: normal;
    --ff-live-stream-label: ;
    --fw-live-stream-label: ;
    --fs-live-stream-time: 4.25rem;
    --lh-live-stream-time: normal;
    --ff-live-stream-time: ;
    --fw-live-stream-time: ;
    --fs-live-stream-divider: 2.625rem;
    --lh-live-stream-divider: normal;
    --ff-live-stream-divider: ;
    --fw-live-stream-divider: ;
    --fs-live-stream-time-label: 1rem;
    --lh-live-stream-time-label: 1.375;
    --ff-live-stream-time-label: ;
    --fw-live-stream-time-label: ;
    --fs-byline: 0.875rem;
    --lh-byline: normal;
    --ff-byline: ;
    --fw-byline: ;
  }
}
:root {
  --c-text: #000;
  --c-text-inverse: #fff;
  --c-background: #fff;
  --c-background-inverse: rgba(20, 62, 81, 0.03);
  --c-background-section: #262626;
  --c-border: rgba(213, 213, 213, 0.5);
  --c-primary: #b50000;
  --c-primary-accent: #e20000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent-high: #890000;
  --c-secondary: #ffa200;
  --c-secondary-accent: #143e51;
  --c-accent-light: #636363;
  --c-accent: #333;
  --c-accent-high: #262626;
  --c-highlight: #ffec00;
  --c-muted: #f8f9f9;
  --c-muted-accent-lightest: #fcf7f7;
  --c-muted-accent: #eee;
  --c-muted-accent-light: #f5f5f5;
  --c-muted-accent-high: #d5d5d5;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-input-text: rgba(213, 213, 213, 0.7);
  --c-input-border: #979797;
  --c-modal: rgba(0, 0, 0, 0.4);
  --c-link: #b50000;
  --c-link-hover: #e20000;
  --c-link-background: #f7e5e5;
  --c-caption: #333;
  --c-tabs: #f8f9f9;
  --c-tabs-bg: #fff;
  --c-active-list: rgba(38, 38, 38, 0.1);
  --c-icon: #636363;
  --c-icon-inverse: #fff;
  --c-icon-accent: #333;
  --c-slick-arrow: #000;
  --c-border-dark: #d5d5d5;
  --c-black-color: #000;
  --c-flag: #fff;
  --c-timeline: #b50000;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-surprise: #f91102;
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #333;
  --c-weather-card: #5c0931;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-new-flag: #efefef;
  --c-list-schedule: #fff;
  --c-image-byline-bg: rgba(33, 37, 41, 0.7);
  --c-white-color: #fff;
  --c-body-bg: #fff;
}
:root [data-theme="default"] {
  --c-text: #000;
  --c-text-inverse: #fff;
  --c-background: #fff;
  --c-background-inverse: rgba(20, 62, 81, 0.03);
  --c-background-section: #262626;
  --c-border: rgba(213, 213, 213, 0.5);
  --c-primary: #b50000;
  --c-primary-accent: #e20000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent-high: #890000;
  --c-secondary: #ffa200;
  --c-secondary-accent: #143e51;
  --c-accent-light: #636363;
  --c-accent: #333;
  --c-accent-high: #262626;
  --c-highlight: #ffec00;
  --c-muted: #f8f9f9;
  --c-muted-accent-lightest: #fcf7f7;
  --c-muted-accent: #eee;
  --c-muted-accent-light: #f5f5f5;
  --c-muted-accent-high: #d5d5d5;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-input-text: rgba(213, 213, 213, 0.7);
  --c-input-border: #979797;
  --c-modal: rgba(0, 0, 0, 0.4);
  --c-link: #b50000;
  --c-link-hover: #e20000;
  --c-link-background: #f7e5e5;
  --c-caption: #333;
  --c-tabs: #f8f9f9;
  --c-tabs-bg: #fff;
  --c-active-list: rgba(38, 38, 38, 0.1);
  --c-icon: #636363;
  --c-icon-inverse: #fff;
  --c-icon-accent: #333;
  --c-slick-arrow: #000;
  --c-border-dark: #d5d5d5;
  --c-black-color: #000;
  --c-flag: #fff;
  --c-timeline: #b50000;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-surprise: #f91102;
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #333;
  --c-weather-card: #5c0931;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-new-flag: #efefef;
  --c-list-schedule: #fff;
  --c-image-byline-bg: rgba(33, 37, 41, 0.7);
  --c-white-color: #fff;
  --c-body-bg: #fff;
}
:root .dark-theme {
  --c-body-bg: #141414;
}
:root .dark-theme .main {
  --c-text: #fff;
  --c-primary: #b50000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent: #e20000;
  --c-text-inverse: #fff;
  --c-border: rgba(255, 255, 255, 0.2);
  --c-link: #fff;
  --c-link-hover: #fff;
  --c-link-background: #f7e5e5;
  --c-accent-light: #636363;
  --c-caption: #fff;
  --c-tabs: #636363;
  --c-tabs-bg: #262626;
  --c-active-list: rgba(245, 245, 245, 0.1);
  --c-muted-accent-light: #333;
  --c-icon: #fff;
  --c-icon-inverse: #333;
  --c-icon-accent: #fff;
  --c-icon-light: #f5f5f5;
  --c-slick-arrow: #000;
  --c-border-dark: rgba(255, 255, 255, 0.2);
  --c-black-color: #000;
  --c-flag: #000;
  --c-timeline: #c73f3f;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #fff;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-list-schedule: #141414;
  color: var(--c-text);
}
:root .dark-theme .lb_section__dark_mode {
  --c-text: #fff;
  --c-primary: #b50000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent: #e20000;
  --c-text-inverse: #fff;
  --c-border: rgba(255, 255, 255, 0.2);
  --c-link: #fff;
  --c-link-hover: #fff;
  --c-link-background: #f7e5e5;
  --c-accent-light: #636363;
  --c-caption: #fff;
  --c-tabs: #636363;
  --c-tabs-bg: #262626;
  --c-active-list: rgba(245, 245, 245, 0.1);
  --c-muted-accent-light: #333;
  --c-icon: #fff;
  --c-icon-inverse: #333;
  --c-icon-accent: #fff;
  --c-icon-light: #f5f5f5;
  --c-slick-arrow: #000;
  --c-border-dark: rgba(255, 255, 255, 0.2);
  --c-black-color: #000;
  --c-flag: #000;
  --c-timeline: #c73f3f;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #fff;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-list-schedule: #141414;
}
:root {
    --c-text: #000;
    --c-heading: #4a4f54;
    --c-heading-inverse: #000;
    --c-text-inverse: #fff;
    --c-background: #fff;
    --c-background-inverse: rgba(20,62,81,0.03);
    --c-background-inverse-one: #2d2c2c;
    --c-muted-accent-light: #f5f5f5;
    --c-muted-accent-high: #d5d5d5;
    --c-muted: #f8f8f8;
    --c-border: #eaeaea;
    --c-accent: #636363;
    --c-warning: #f9fb93;
    --c-error: #fbe3e4;
    --c-message: #cfefc2;
    --c-primary: #d22d28;
    --c-primary-accent: #e20000;
    --c-menu-overlay: rgba(0,0,0,0.9);
    --c-image-overlay: rgba(0,0,0,0.18);
    --c-title: #d4d4d4;
    --c-background-rgba: rgba(0,0,0,0.03);
    --c-element-divider: rgba(213,213,213,0.5);
    --c-flag-light-red: #fd2b25;
    --c-flag-dark-red: #9e221e;
    --c-watch: #fff;
    --c-grey-border-lighter: #d8d8d8;
    --c-image-byline-bg: rgba(33,37,41,0.7);
    --c-white-color: #fff;
    --c-timeline: #d22d28;
    --c-liveblog: #6c6c6c;
    --c-darkest-grey: #212529;
    --c-view-more-inverse: #d22d28;
    --c-text-equivalent: #000;
    --c-view-more: #fff;
    --c-link-hover: #e20000;
    --c-gray-equivalent: #4a4f54;
  }