@font-face {
  font-family: "Graphik-Semibold";
  src: local("Graphik-Semibold"),
   url("../assets/fonts/Graphik-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik-Medium";
  src: local("Graphik-Medium"),
   url("../assets/fonts/Graphik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'proximanova-regularit';
  src: local("proximanova-regularit"),
  url("../assets/fonts/Proxima-Nova-Reg-It.otf") format("opentype");
}

@font-face {
  font-family: 'proximanova-semibold';
  src: local("proximanova-semibold"),
  url("../assets/fonts/Proxima-Nova-Sbold.otf") format("opentype");
}

@font-face {
  font-family: 'proximanova-light';
  src: local("proximanova-light"),
  url("../assets/fonts/Proxima-Nova-Light.otf") format("opentype");
}

@font-face {
  font-family: 'proximanova-regular';
  src: local("proximanova-regular"),
  url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}


:root {
  --fs-text: 1.125rem;
  --lh-text: 1.38889;
  --ff-text: sofia-pro, sans-serif;
  --fw-text: ;
  --fs-text-m: 1rem;
  --lh-text-m: 1.2;
  --ff-text-m: ;
  --fw-text-m: ;
  --fs-text-sm: 0.9375rem;
  --lh-text-sm: 1.2;
  --ff-text-sm: ;
  --fw-text-sm: ;
  --fs-h1-extra: 1.5625rem;
  --lh-h1-extra: 1.12;
  --ff-h1-extra: ;
  --fw-h1-extra: ;
  --fs-h1: 1.5625rem;
  --lh-h1: 1.08;
  --ff-h1: ;
  --fw-h1: ;
  --fs-h2: 1.4375rem;
  --lh-h2: 1.26087;
  --ff-h2: ;
  --fw-h2: ;
  --fs-h2-s: 1.625rem;
  --lh-h2-s: 1.12;
  --ff-h2-s: ;
  --fw-h2-s: ;
  --fs-h3: 1.3125rem;
  --lh-h3: 1.14286;
  --ff-h3: ;
  --fw-h3: ;
  --fs-h3-s: 1.3125rem;
  --lh-h3-s: 1.14286;
  --ff-h3-s: ;
  --fw-h3-s: ;
  --fs-h4: 1.0625rem;
  --lh-h4: 1.29412;
  --ff-h4: ;
  --fw-h4: ;
  --fs-h5: 0.9375rem;
  --lh-h5: 1.26667;
  --ff-h5: ;
  --fw-h5: ;
  --fs-h6: 0.9375rem;
  --lh-h6: 1.26667;
  --ff-h6: ;
  --fw-h6: ;
  --fs-button: 0.9375rem;
  --lh-button: 1.26667;
  --ff-button: ;
  --fw-button: ;
  --fs-button-s: 0.8125rem;
  --lh-button-s: 1.38462;
  --ff-button-s: ;
  --fw-button-s: ;
  --fs-caption: 0.8125rem;
  --lh-caption: 1.30769;
  --ff-caption: ;
  --fw-caption: ;
  --fs-caption-sl: 0.8125rem;
  --lh-caption-sl: 1.23077;
  --ff-caption-sl: ;
  --fw-caption-sl: ;
  --fs-caption-l: 0.8125rem;
  --lh-caption-l: 1.38462;
  --ff-caption-l: ;
  --fw-caption-l: ;
  --fs-timestamp: 0.8125rem;
  --lh-timestamp: 1.30769;
  --ff-timestamp: ;
  --fw-timestamp: ;
  --fs-link: 0.875rem;
  --lh-link: 1.28571;
  --ff-link: ;
  --fw-link: ;
  --fs-paragraph: 0.875rem;
  --lh-paragraph: 1.28571;
  --ff-paragraph: ;
  --fw-paragraph: ;
  --fs-app-bar: 0.6875rem;
  --lh-app-bar: 1.54545;
  --ff-app-bar: ;
  --fw-app-bar: ;
  --fs-heading-sm: 1.125rem;
  --lh-heading-sm: 1.27778;
  --ff-heading-sm: ;
  --fw-heading-sm: ;
  --fs-heading-xsm: 1.125rem;
  --lh-heading-xsm: 1.27778;
  --ff-heading-xsm: ;
  --fw-heading-xsm: ;
  --fs-heading-s: 0.9375rem;
  --lh-heading-s: 1.2;
  --ff-heading-s: ;
  --fw-heading-s: ;
  --fs-heading-xxxl: 1.8125rem;
  --lh-heading-xxxl: normal;
  --ff-heading-xxxl: ;
  --fw-heading-xxxl: ;
  --fs-category: 0.8125rem;
  --lh-category: normal;
  --ff-category: ;
  --fw-category: ;
  --fs-flag: 0.6875rem;
  --lh-flag: normal;
  --ff-flag: ;
  --fw-flag: ;
  --fs-about-show: 1rem;
  --lh-about-show: 1.375;
  --ff-about-show: ;
  --fw-about-show: ;
  --fs-desc: 1rem;
  --lh-desc: 1.375;
  --ff-desc: ;
  --fw-desc: ;
  --fs-up-next: 0.875rem;
  --lh-up-next: normal;
  --ff-up-next: ;
  --fw-up-next: ;
  --fs-time: 1.4375rem;
  --lh-time: 1;
  --ff-time: ;
  --fw-time: ;
  --fs-am-pm: 1rem;
  --lh-am-pm: normal;
  --ff-am-pm: ;
  --fw-am-pm: ;
  --fs-on-air: 0.75rem;
  --lh-on-air: normal;
  --ff-on-air: ;
  --fw-on-air: ;
  --fs-day-nav: 0.9375rem;
  --lh-day-nav: normal;
  --ff-day-nav: ;
  --fw-day-nav: ;
  --fs-day-nav-act: 0.9375rem;
  --lh-day-nav-act: normal;
  --ff-day-nav-act: ;
  --fw-day-nav-act: ;
  --fs-date: 0.8125rem;
  --lh-date: 1.23077;
  --ff-date: ;
  --fw-date: ;
  --fs-episode: 1.125rem;
  --lh-episode: normal;
  --ff-episode: ;
  --fw-episode: ;
  --fs-episode-title: 0.9375rem;
  --lh-episode-title: 1.2;
  --ff-episode-title: ;
  --fw-episode-title: ;
  --fs-episode-desc: 0.875rem;
  --lh-episode-desc: 1.21429;
  --ff-episode-desc: ;
  --fw-episode-desc: ;
  --fs-presenters-author-name: 0.9375rem;
  --lh-presenters-author-name: normal;
  --ff-presenters-author-name: ;
  --fw-presenters-author-name: ;
  --fs-podcast-category: 0.9375rem;
  --lh-podcast-category: 1.2;
  --ff-podcast-category: ;
  --fw-podcast-category: ;
  --fs-play-btn: 0.9375rem;
  --lh-play-btn: normal;
  --ff-play-btn: ;
  --fw-play-btn: ;
  --fs-list-schedules-heading: 1.125rem;
  --lh-list-schedules-heading: 1.1;
  --ff-list-schedules-heading: ;
  --fw-list-schedules-heading: ;
  --fs-numbered: 2.125rem;
  --lh-numbered: normal;
  --ff-numbered: ;
  --fw-numbered: ;
  --fs-discover-block-title: 1.625rem;
  --lh-discover-block-title: normal;
  --ff-discover-block-title: ;
  --fw-discover-block-title: ;
  --fs-editor-pick-item-title: 1.125rem;
  --lh-editor-pick-item-title: 1.16667;
  --ff-editor-pick-item-title: ;
  --fw-editor-pick-item-title: ;
  --fs-numbered-discover: 2.25rem;
  --lh-numbered-discover: normal;
  --ff-numbered-discover: ;
  --fw-numbered-discover: ;
  --fs-numbered-discover-item-title: 1.125rem;
  --lh-numbered-discover-item-title: 1.16667;
  --ff-numbered-discover-item-title: ;
  --fw-numbered-discover-item-title: ;
  --fs-spotlight-item-title: 1.125rem;
  --lh-spotlight-item-title: 1.16667;
  --ff-spotlight-item-title: ;
  --fw-spotlight-item-title: ;
  --fs-grid1x4-title: 1.125rem;
  --lh-grid1x4-title: 1.38889;
  --ff-grid1x4-title: ;
  --fw-grid1x4-title: ;
  --fs-surpriseme: 1.125rem;
  --lh-surpriseme: normal;
  --ff-surpriseme: ;
  --fw-surpriseme: 600;
  --fs-ads: 0.625rem;
  --lh-ads: 1.6;
  --ff-ads: ;
  --fw-ads: normal;
  --fs-contact-us-title: 1.8125rem;
  --lh-contact-us-title: normal;
  --ff-contact-us-title: ;
  --fw-contact-us-title: bold;
  --fs-platform-des: 1.0625rem;
  --lh-platform-des: 1.41176;
  --ff-platform-des: ;
  --fw-platform-des: 300;
  --fs-platform-title: 1.125rem;
  --lh-platform-title: 1.33333;
  --ff-platform-title: ;
  --fw-platform-title: 300;
  --fs-submit-news-title: 1.4375rem;
  --lh-submit-news-title: normal;
  --ff-submit-news-title: ;
  --fw-submit-news-title: bold;
  --fs-tabs: 0.9375rem;
  --lh-tabs: normal;
  --ff-tabs: ;
  --fw-tabs: 600;
  --fs-weather-label-xxs: 0.625rem;
  --lh-weather-label-xxs: normal;
  --ff-weather-label-xxs: ;
  --fw-weather-label-xxs: ;
  --fs-weather-label-xs: 0.75rem;
  --lh-weather-label-xs: normal;
  --ff-weather-label-xs: ;
  --fw-weather-label-xs: ;
  --fs-weather-label-s: 0.875rem;
  --lh-weather-label-s: 1.28571;
  --ff-weather-label-s: ;
  --fw-weather-label-s: ;
  --fs-weather-label-m: 1rem;
  --lh-weather-label-m: 1.28571;
  --ff-weather-label-m: ;
  --fw-weather-label-m: ;
  --fs-weather-label-l: 1.125rem;
  --lh-weather-label-l: 1.375;
  --ff-weather-label-l: ;
  --fw-weather-label-l: ;
  --fs-weather-temp-s: 1.25rem;
  --lh-weather-temp-s: 1.3;
  --ff-weather-temp-s: ;
  --fw-weather-temp-s: ;
  --fs-weather-temp-m: 1.4375rem;
  --lh-weather-temp-m: 1.18182;
  --ff-weather-temp-m: ;
  --fw-weather-temp-m: ;
  --fs-help-feedback-title: 1.125rem;
  --lh-help-feedback-title: 1.38889;
  --ff-help-feedback-title: ;
  --fw-help-feedback-title: bold;
  --fs-live-stream-label: 0.9375rem;
  --lh-live-stream-label: normal;
  --ff-live-stream-label: ;
  --fw-live-stream-label: ;
  --fs-live-stream-time: 2rem;
  --lh-live-stream-time: normal;
  --ff-live-stream-time: ;
  --fw-live-stream-time: ;
  --fs-live-stream-divider: 1.5rem;
  --lh-live-stream-divider: normal;
  --ff-live-stream-divider: ;
  --fw-live-stream-divider: ;
  --fs-live-stream-time-label: 0.8125rem;
  --lh-live-stream-time-label: 1.69231;
  --ff-live-stream-time-label: ;
  --fw-live-stream-time-label: ;
  --fs-byline: 0.75rem;
  --lh-byline: normal;
  --ff-byline: ;
  --fw-byline: ;
}
@media (min-width: 920px) {
  :root {
    --fs-text: 1.25rem;
    --lh-text: 1.4;
    --ff-text: sofia-pro, sans-serif;
    --fw-text: ;
    --fs-text-m: 1.125rem;
    --lh-text-m: 1.27778;
    --ff-text-m: ;
    --fw-text-m: ;
    --fs-text-sm: 1.125rem;
    --lh-text-sm: 1.27778;
    --ff-text-sm: ;
    --fw-text-sm: ;
    --fs-h1-extra: 2.875rem;
    --lh-h1-extra: 1.08696;
    --ff-h1-extra: ;
    --fw-h1-extra: ;
    --fs-h1: 2rem;
    --lh-h1: 1.09375;
    --ff-h1: ;
    --fw-h1: ;
    --fs-h2: 1.625rem;
    --lh-h2: 1.26923;
    --ff-h2: ;
    --fw-h2: ;
    --fs-h2-s: 1.625rem;
    --lh-h2-s: 1.11538;
    --ff-h2-s: ;
    --fw-h2-s: ;
    --fs-h3: 1.625rem;
    --lh-h3: 1.11538;
    --ff-h3: ;
    --fw-h3: ;
    --fs-h3-s: 1.4375rem;
    --lh-h3-s: 1.13043;
    --ff-h3-s: ;
    --fw-h3-s: ;
    --fs-h4: 1.25rem;
    --lh-h4: 1.3;
    --ff-h4: ;
    --fw-h4: ;
    --fs-h5: 1.125rem;
    --lh-h5: 1.11111;
    --ff-h5: ;
    --fw-h5: ;
    --fs-h6: 1rem;
    --lh-h6: 1.25;
    --ff-h6: ;
    --fw-h6: ;
    --fs-button: 1rem;
    --lh-button: 1.1875;
    --ff-button: ;
    --fw-button: ;
    --fs-button-s: 0.875rem;
    --lh-button-s: 1.28571;
    --ff-button-s: ;
    --fw-button-s: ;
    --fs-caption: 0.75rem;
    --lh-caption: 1.25;
    --ff-caption: ;
    --fw-caption: ;
    --fs-caption-sl: 0.8125rem;
    --lh-caption-sl: 1.23077;
    --ff-caption-sl: ;
    --fw-caption-sl: ;
    --fs-caption-l: 1rem;
    --lh-caption-l: 1.375;
    --ff-caption-l: ;
    --fw-caption-l: ;
    --fs-timestamp: 0.75rem;
    --lh-timestamp: 1.25;
    --ff-timestamp: ;
    --fw-timestamp: ;
    --fs-link: 1rem;
    --lh-link: 1.25;
    --ff-link: ;
    --fw-link: ;
    --fs-heading-sm: 1.5rem;
    --lh-heading-sm: 1.5;
    --ff-heading-sm: ;
    --fw-heading-sm: ;
    --fs-heading-xsm: 1.375rem;
    --lh-heading-xsm: 1.63636;
    --ff-heading-xsm: ;
    --fw-heading-xsm: ;
    --fs-heading-s: 1.25rem;
    --lh-heading-s: 1.45;
    --ff-heading-s: ;
    --fw-heading-s: ;
    --fs-heading-xxxl: 2.625rem;
    --lh-heading-xxxl: normal;
    --ff-heading-xxxl: ;
    --fw-heading-xxxl: ;
    --fs-category: 1rem;
    --lh-category: normal;
    --ff-category: ;
    --fw-category: ;
    --fs-flag: 0.6875rem;
    --lh-flag: normal;
    --ff-flag: ;
    --fw-flag: ;
    --fs-about-show: 1rem;
    --lh-about-show: 1.5;
    --ff-about-show: ;
    --fw-about-show: ;
    --fs-desc: 1rem;
    --lh-desc: 1.5;
    --ff-desc: ;
    --fw-desc: ;
    --fs-up-next: 0.875rem;
    --lh-up-next: normal;
    --ff-up-next: ;
    --fw-up-next: ;
    --fs-time: 1.625rem;
    --lh-time: 1.11538;
    --ff-time: ;
    --fw-time: ;
    --fs-am-pm: 1rem;
    --lh-am-pm: normal;
    --ff-am-pm: ;
    --fw-am-pm: ;
    --fs-on-air: 0.75rem;
    --lh-on-air: normal;
    --ff-on-air: ;
    --fw-on-air: ;
    --fs-day-nav: 1rem;
    --lh-day-nav: 1.8125;
    --ff-day-nav: ;
    --fw-day-nav: ;
    --fs-day-nav-act: 1.25rem;
    --lh-day-nav-act: 1.45;
    --ff-day-nav-act: ;
    --fw-day-nav-act: ;
    --fs-date: 0.875rem;
    --lh-date: 1.28571;
    --ff-date: ;
    --fw-date: ;
    --fs-episode: 1.25rem;
    --lh-episode: normal;
    --ff-episode: ;
    --fw-episode: ;
    --fs-episode-title: 1rem;
    --lh-episode-title: 1.1875;
    --ff-episode-title: ;
    --fw-episode-title: ;
    --fs-episode-desc: 0.875rem;
    --lh-episode-desc: normal;
    --ff-episode-desc: ;
    --fw-episode-desc: ;
    --fs-presenters-author-name: 1.125rem;
    --lh-presenters-author-name: 1.11111;
    --ff-presenters-author-name: ;
    --fw-presenters-author-name: ;
    --fs-podcast-category: 0.875rem;
    --lh-podcast-category: normal;
    --ff-podcast-category: ;
    --fw-podcast-category: ;
    --fs-play-btn: 1rem;
    --lh-play-btn: normal;
    --ff-play-btn: ;
    --fw-play-btn: ;
    --fs-list-schedules-heading: 1.25rem;
    --lh-list-schedules-heading: 1;
    --ff-list-schedules-heading: ;
    --fw-list-schedules-heading: ;
    --fs-numbered: 3.125rem;
    --lh-numbered: normal;
    --ff-numbered: ;
    --fw-numbered: ;
    --fs-discover-block-title: 2.25rem;
    --lh-discover-block-title: normal;
    --ff-discover-block-title: ;
    --fw-discover-block-title: ;
    --fs-editor-pick-item-title: 1.5625rem;
    --lh-editor-pick-item-title: 1.2;
    --ff-editor-pick-item-title: ;
    --fw-editor-pick-item-title: ;
    --fs-numbered-discover: 3.125rem;
    --lh-numbered-discover: 0.7;
    --ff-numbered-discover: ;
    --fw-numbered-discover: ;
    --fs-numbered-discover-item-title: 1.125rem;
    --lh-numbered-discover-item-title: 1.11111;
    --ff-numbered-discover-item-title: ;
    --fw-numbered-discover-item-title: ;
    --fs-spotlight-item-title: 1.5rem;
    --lh-spotlight-item-title: 1.125;
    --ff-spotlight-item-title: ;
    --fw-spotlight-item-title: ;
    --fs-grid1x4-title: 1.5rem;
    --lh-grid1x4-title: 1.04167;
    --ff-grid1x4-title: ;
    --fw-grid1x4-title: ;
    --fs-surpriseme: 1.125rem;
    --lh-surpriseme: normal;
    --ff-surpriseme: ;
    --fw-surpriseme: 600;
    --fs-ads: 0.625rem;
    --lh-ads: 1.6;
    --ff-ads: ;
    --fw-ads: normal;
    --fs-feed-title: 2.25rem;
    --lh-feed-title: 1.08333;
    --ff-feed-title: ;
    --fw-feed-title: ;
    --fs-contact-us-title: 2.875rem;
    --lh-contact-us-title: normal;
    --ff-contact-us-title: ;
    --fw-contact-us-title: 600;
    --fs-platform-des: 1.125rem;
    --lh-platform-des: 1.44444;
    --ff-platform-des: ;
    --fw-platform-des: 300;
    --fs-platform-title: 1.25rem;
    --lh-platform-title: 1.3;
    --ff-platform-title: ;
    --fw-platform-title: 300;
    --fs-submit-news-title: 1.625rem;
    --lh-submit-news-title: normal;
    --ff-submit-news-title: ;
    --fw-submit-news-title: bold;
    --fs-tabs: 1rem;
    --lh-tabs: normal;
    --ff-tabs: ;
    --fw-tabs: 600;
    --fs-weather-label-xxs: 0.625rem;
    --lh-weather-label-xxs: normal;
    --ff-weather-label-xxs: ;
    --fw-weather-label-xxs: ;
    --fs-weather-label-xs: 0.75rem;
    --lh-weather-label-xs: normal;
    --ff-weather-label-xs: ;
    --fw-weather-label-xs: ;
    --fs-weather-label-s: 0.875rem;
    --lh-weather-label-s: 1.28571;
    --ff-weather-label-s: ;
    --fw-weather-label-s: ;
    --fs-weather-label-m: 1rem;
    --lh-weather-label-m: 1.375;
    --ff-weather-label-m: ;
    --fw-weather-label-m: ;
    --fs-weather-label-l: 1.125rem;
    --lh-weather-label-l: 1.38889;
    --ff-weather-label-l: ;
    --fw-weather-label-l: ;
    --fs-weather-temp-s: 1.25rem;
    --lh-weather-temp-s: 1.4;
    --ff-weather-temp-s: ;
    --fw-weather-temp-s: ;
    --fs-weather-temp-m: 1.625rem;
    --lh-weather-temp-m: 1.12;
    --ff-weather-temp-m: ;
    --fw-weather-temp-m: ;
    --fs-help-feedback-title: 1.25rem;
    --lh-help-feedback-title: 1.4;
    --ff-help-feedback-title: ;
    --fw-help-feedback-title: bold;
    --fs-live-stream-label: 1.25rem;
    --lh-live-stream-label: normal;
    --ff-live-stream-label: ;
    --fw-live-stream-label: ;
    --fs-live-stream-time: 4.25rem;
    --lh-live-stream-time: normal;
    --ff-live-stream-time: ;
    --fw-live-stream-time: ;
    --fs-live-stream-divider: 2.625rem;
    --lh-live-stream-divider: normal;
    --ff-live-stream-divider: ;
    --fw-live-stream-divider: ;
    --fs-live-stream-time-label: 1rem;
    --lh-live-stream-time-label: 1.375;
    --ff-live-stream-time-label: ;
    --fw-live-stream-time-label: ;
    --fs-byline: 0.875rem;
    --lh-byline: normal;
    --ff-byline: ;
    --fw-byline: ;
  }
}
:root {
  --c-text: #000;
  --c-text-inverse: #fff;
  --c-background: #fff;
  --c-background-inverse: rgba(20, 62, 81, 0.03);
  --c-background-section: #262626;
  --c-border: rgba(213, 213, 213, 0.5);
  --c-primary: #b50000;
  --c-primary-accent: #e20000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent-high: #890000;
  --c-secondary: #ffa200;
  --c-secondary-accent: #143e51;
  --c-accent-light: #636363;
  --c-accent: #333;
  --c-accent-high: #262626;
  --c-highlight: #ffec00;
  --c-muted: #f8f9f9;
  --c-muted-accent-lightest: #fcf7f7;
  --c-muted-accent: #eee;
  --c-muted-accent-light: #f5f5f5;
  --c-muted-accent-high: #d5d5d5;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-input-text: rgba(213, 213, 213, 0.7);
  --c-input-border: #979797;
  --c-modal: rgba(0, 0, 0, 0.4);
  --c-link: #b50000;
  --c-link-hover: #e20000;
  --c-link-background: #f7e5e5;
  --c-caption: #333;
  --c-tabs: #f8f9f9;
  --c-tabs-bg: #fff;
  --c-active-list: rgba(38, 38, 38, 0.1);
  --c-icon: #636363;
  --c-icon-inverse: #fff;
  --c-icon-accent: #333;
  --c-slick-arrow: #000;
  --c-border-dark: #d5d5d5;
  --c-black-color: #000;
  --c-flag: #fff;
  --c-timeline: #b50000;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-surprise: #f91102;
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #333;
  --c-weather-card: #5c0931;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-new-flag: #efefef;
  --c-list-schedule: #fff;
  --c-image-byline-bg: rgba(33, 37, 41, 0.7);
  --c-white-color: #fff;
  --c-body-bg: #fff;
}
:root [data-theme="default"] {
  --c-text: #000;
  --c-text-inverse: #fff;
  --c-background: #fff;
  --c-background-inverse: rgba(20, 62, 81, 0.03);
  --c-background-section: #262626;
  --c-border: rgba(213, 213, 213, 0.5);
  --c-primary: #b50000;
  --c-primary-accent: #e20000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent-high: #890000;
  --c-secondary: #ffa200;
  --c-secondary-accent: #143e51;
  --c-accent-light: #636363;
  --c-accent: #333;
  --c-accent-high: #262626;
  --c-highlight: #ffec00;
  --c-muted: #f8f9f9;
  --c-muted-accent-lightest: #fcf7f7;
  --c-muted-accent: #eee;
  --c-muted-accent-light: #f5f5f5;
  --c-muted-accent-high: #d5d5d5;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-input-text: rgba(213, 213, 213, 0.7);
  --c-input-border: #979797;
  --c-modal: rgba(0, 0, 0, 0.4);
  --c-link: #b50000;
  --c-link-hover: #e20000;
  --c-link-background: #f7e5e5;
  --c-caption: #333;
  --c-tabs: #f8f9f9;
  --c-tabs-bg: #fff;
  --c-active-list: rgba(38, 38, 38, 0.1);
  --c-icon: #636363;
  --c-icon-inverse: #fff;
  --c-icon-accent: #333;
  --c-slick-arrow: #000;
  --c-border-dark: #d5d5d5;
  --c-black-color: #000;
  --c-flag: #fff;
  --c-timeline: #b50000;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-surprise: #f91102;
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #333;
  --c-weather-card: #5c0931;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-new-flag: #efefef;
  --c-list-schedule: #fff;
  --c-image-byline-bg: rgba(33, 37, 41, 0.7);
  --c-white-color: #fff;
  --c-body-bg: #fff;
}
:root .dark-theme {
  --c-body-bg: #141414;
}
:root .dark-theme .main {
  --c-text: #fff;
  --c-primary: #b50000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent: #e20000;
  --c-text-inverse: #fff;
  --c-border: rgba(255, 255, 255, 0.2);
  --c-link: #fff;
  --c-link-hover: #fff;
  --c-link-background: #f7e5e5;
  --c-accent-light: #636363;
  --c-caption: #fff;
  --c-tabs: #636363;
  --c-tabs-bg: #262626;
  --c-active-list: rgba(245, 245, 245, 0.1);
  --c-muted-accent-light: #333;
  --c-icon: #fff;
  --c-icon-inverse: #333;
  --c-icon-accent: #fff;
  --c-icon-light: #f5f5f5;
  --c-slick-arrow: #000;
  --c-border-dark: rgba(255, 255, 255, 0.2);
  --c-black-color: #000;
  --c-flag: #000;
  --c-timeline: #c73f3f;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #fff;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-list-schedule: #141414;
  color: var(--c-text);
}
:root .dark-theme .lb_section__dark_mode {
  --c-text: #fff;
  --c-primary: #b50000;
  --c-primary-box-shadow: rgba(181, 0, 0, 0.3);
  --c-primary-accent: #e20000;
  --c-text-inverse: #fff;
  --c-border: rgba(255, 255, 255, 0.2);
  --c-link: #fff;
  --c-link-hover: #fff;
  --c-link-background: #f7e5e5;
  --c-accent-light: #636363;
  --c-caption: #fff;
  --c-tabs: #636363;
  --c-tabs-bg: #262626;
  --c-active-list: rgba(245, 245, 245, 0.1);
  --c-muted-accent-light: #333;
  --c-icon: #fff;
  --c-icon-inverse: #333;
  --c-icon-accent: #fff;
  --c-icon-light: #f5f5f5;
  --c-slick-arrow: #000;
  --c-border-dark: rgba(255, 255, 255, 0.2);
  --c-black-color: #000;
  --c-flag: #000;
  --c-timeline: #c73f3f;
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-now-overlay: rgba(0, 0, 0, 0.65);
  --c-ads: #7f7f7f;
  --c-logo-with: #141414;
  --c-stereaming-overlay: rgba(51, 51, 51, 0.8);
  --c-quick-link: #7f7f7f;
  --c-heading-hover: #fff;
  --c-select-option: silver;
  --c-select-option-custom: #545454;
  --c-list-schedule: #141414;
  color: var(--c-text);
}

:root {
  --fs-text: 1.125rem;
  --lh-text: 1.38889;
  --ff-text: proximanova-regular, sans-serif;
  --fs-text-body: 1.125rem;
  --lh-text-body: 1.38889;
  --ff-text-body: proximanova-regular, sans-serif;
  --fs-text-sm: 1rem;
  --lh-text-sm: normal;
  --ff-text-sm: proximanova-light;
  --fs-text-xs: 1rem;
  --lh-text-xs: 1.1875;
  --ff-text-xs: Graphik-Semibold;
  --fs-text-para: 1.125rem;
  --lh-text-para: 1.38889;
  --ff-text-para: proximanova-regular, sans-serif;
  --fs-text-bold: 1.125rem;
  --lh-text-bold: 1.38889;
  --ff-text-bold: proximanova-bold;
  --fs-h1: 1.5625rem;
  --lh-h1: 1.12;
  --ff-h1: Graphik-Semibold;
  --fs-h1-s: 1.5625rem;
  --lh-h1-s: 1.28;
  --ff-h1-s: Graphik-Semibold;
  --fs-h2: 1.3125rem;
  --lh-h2: 1.14286;
  --ff-h2: Graphik-Semibold;
  --fs-h3: 1.3125rem;
  --lh-h3: 1.14286;
  --ff-h3: Graphik-Semibold;
  --fs-h4: 0.938rem;
  --lh-h4: 1.33333;
  --ff-h4: Graphik-Semibold;
  --fs-h5: 1rem;
  --lh-h5: 1.1875;
  --ff-h5: Graphik-Semibold;
  --fs-h6: 1rem;
  --lh-h6: 1.1875;
  --ff-h6: Graphik-Semibold;
  --fs-button: 0.938rem;
  --lh-button: 1.26667;
  --ff-button: Graphik-Semibold;
  --fs-button-s: 0.75rem;
  --lh-button-s: 1.5;
  --ff-button-s: Graphik-Medium;
  --fs-caption: 0.813rem;
  --lh-caption: 1.30769;
  --ff-caption: ;
  --fs-category: 0.75rem;
  --lh-category: normal;
  --ff-category: Graphik-Semibold;
  --fs-category-l: 1.25rem;
  --lh-category-l: normal;
  --ff-category-l: Graphik-Semibold;
  --fs-timestamp: 0.813rem;
  --lh-timestamp: normal;
  --ff-timestamp: proximanova-medium;
  --fs-link: 0.875rem;
  --lh-link: 1.21429;
  --ff-link: Graphik-Semibold;
  --fs-paragraph: 0.938rem;
  --lh-paragraph: 1.33333;
  --ff-paragraph: proximanova-regular, sans-serif;
  --fs-app-bar: 0.688rem;
  --lh-app-bar: 1.54545;
  --ff-app-bar: ;
  --fs-menu: 1rem;
  --lh-menu: 1.125;
  --ff-menu: proximanova-semibold;
  --fs-social: 0.875rem;
  --lh-social: 1.35714;
  --ff-social: Graphik-Semibold;
  --fs-description: 0.875rem;
  --lh-description: 1.21429;
  --ff-description: Graphik-Semibold;
  --fs-sub-description: 1rem;
  --lh-sub-description: 1.5;
  --ff-sub-description: Graphik-Semibold;
  --fs-quote: 1.25rem;
  --lh-quote: 1.35;
  --ff-quote: Graphik-Semibold;
  --fs-quote-l: 2.875rem;
  --lh-quote-l: 2.875rem;
  --ff-quote-l: proximanova-bold;
  --fs-context-h2: 1.375rem;
  --lh-context-h2: 1.22727;
  --ff-context-h2: Graphik-Semibold;
  --fs-context-btn: 0.75rem;
  --lh-context-btn: normal;
  --ff-context-btn: proximanova-bold;
  --fs-topics-h2: 1.125rem;
  --lh-topics-h2: normal;
  --ff-topics-h2: Graphik-Semibold;
  --fs-topics-link: 0.875rem;
  --lh-topics-link: 1.57143;
  --ff-topics-link: proximanova-regular, sans-serif;
  --fs-sub-description-s: 0.75rem;
  --lh-sub-description-s: 1.25;
  --ff-sub-description-s: proximanova-regular, sans-serif;
  --fs-subscription: 1.25rem;
  --lh-subscription: normal;
  --ff-subscription: Graphik-Semibold;
  --fs-share-popup-title: 1.125rem;
  --lh-share-popup-title: 1.375rem;
  --ff-share-popup-title: Graphik-Semibold;
  --fs-news-title: 1rem;
  --lh-news-title: 1.5625;
  --ff-news-title: proximanova-bold;
  --fs-news-msg: 1rem;
  --lh-news-msg: 1.375;
  --ff-news-msg: proximanova-regular, sans-serif;
  --fs-article-date: 0.875rem;
  --lh-article-date: 1.35714;
  --ff-article-date: proximanova-semibold;
  --fs-article-date-text: 0.875rem;
  --lh-article-date-text: 1.28571;
  --ff-article-date-text: proximanova-regularit;
  --fs-author-h6: 0.875rem;
  --lh-author-h6: 1.14286;
  --ff-author-h6: proximanova-semibold;
  --fs-author-by-h6: 0.875rem;
  --lh-author-by-h6: 1.14286;
  --ff-author-by-h6: proximanova-regularit;
  --fs-sticky-news-title: 0.938rem;
  --lh-sticky-news-title: -0.01667;
  --ff-sticky-news-title: Graphik-Semibold;
  --fs-sticky-news-des: 0.875rem;
  --lh-sticky-news-des: -0.01643;
  --ff-sticky-news-des: Graphik-Medium;
  --fs-index-number: 2rem;
  --lh-index-number: normal;
  --ff-index-number: Graphik-Semibold;
  --fs-duration: 0.875rem;
  --lh-duration: 1.57143;
  --ff-duration: proximanova-regular, sans-serif;
  --fs-watch-h4: 0.938rem;
  --lh-watch-h4: 1.33333;
  --ff-watch-h4: Graphik-Semibold;
  --fs-h1-heading: 1.5625rem;
  --lh-h1-heading: 1.12;
  --ff-h1-heading: Graphik-Semibold;
  --fs-flag-text-small: 0.688rem;
  --lh-flag-text-small: 1.45455;
  --ff-flag-text-small: Graphik-Semibold;
  --fs-flag-text: 0.75rem;
  --lh-flag-text: 1.16667;
  --ff-flag-text: Graphik-Semibold;
  --fs-filter-text: 0.875rem;
  --lh-filter-text: -0.01643;
  --ff-filter-text: Graphik-Medium;
  --fs-pager-text: 1rem;
  --lh-pager-text: 1.25;
  --ff-pager-text: Graphik-Medium;
  --fs-author-info: 0.875rem;
  --lh-author-info: 1.14286;
  --ff-author-info: proximanova-medium;
  --fs-author-paragraph-info: 1.25rem;
  --lh-author-paragraph-info: 1;
  --ff-author-paragraph-info: proximanova-medium;
  --fs-journalist-title: 1rem;
  --lh-journalist-title: normal;
  --ff-journalist-title: proximanova-medium;
  --fs-sponsor-title: 0.875rem;
  --lh-sponsor-title: 1.35714;
  --ff-sponsor-title: proximanova-semibold;
  --fs-help-feedback-title: 1.625rem;
  --lh-help-feedback-title: 29px;
  --ff-help-feedback-title: Graphik-Medium;
  --fs-byline: 0.75rem;
  --lh-byline: normal;
  --ff-byline: proximanova-regular, sans-serif;
  --fs-flag-minute: 0.75rem;
  --lh-flag-minute: normal;
  --ff-flag-minute: Graphik-Semibold;
  --fs-minute-title: 1.125rem;
  --lh-minute-title: normal;
  --ff-minute-title: Graphik-Semibold;
  --fs-min-description: 1rem;
  --lh-min-description: normal;
  --ff-min-description: proximanova-mediumit;
  --fs-liveblog-timestamp: 0.813rem;
  --lh-liveblog-timestamp: 1;
  --ff-liveblog-timestamp: proximanova-bold;
  --fs-liveblog-timeline-heading: 0.875rem;
  --lh-liveblog-timeline-heading: 1.35714;
  --ff-liveblog-timeline-heading: Graphik-Semibold;
  --fs-liveblog-list-heading: 1.25rem;
  --lh-liveblog-list-heading: 1.2;
  --ff-liveblog-list-heading: Graphik-Semibold;
  --fs-also-worth: 1.125rem;
  --lh-also-worth: normal;
  --ff-also-worth: Graphik-Semibold;
  --fs-input-text: 1rem;
  --lh-input-text: 1;
  --ff-input-text: proximanova-regular, sans-serif;
  --fs-recent-link: 1rem;
  --lh-recent-link: normal;
  --ff-recent-link: proximanova-regular, sans-serif;
  --fs-tab-link-button: 0.938rem;
  --lh-tab-link-button: normal;
  --ff-tab-link-button: Graphik-Medium;
  --fs-contact-us-title: 1.8125rem;
  --lh-contact-us-title: normal;
  --ff-contact-us-title: Graphik-Medium;
  --fs-field-label: 1rem;
  --lh-field-label: normal;
  --ff-field-label: proximanova-bold;
  --fs-field-value: 1.125rem;
  --lh-field-value: 1.39;
  --ff-field-value: proximanova-regular, sans-serif;
  --fs-myaccount-cta: 0.75rem;
  --lh-myaccount-cta: normal;
  --ff-myaccount-cta: Graphik-Medium;
  --fs-h2-page-not-found: 1.5625rem;
  --lh-h2-page-not-found: 1.5625rem;
  --ff-h2-page-not-found: Graphik-Semibold;
  --fs-article-cta: 0.75rem;
  --lh-article-cta: normal;
  --ff-article-cta: Graphik-Medium;
  --fs-live-stream-label: 0.938rem;
  --lh-live-stream-label: normal;
  --ff-live-stream-label: proximanova-bold;
  --fs-live-stream-time: 2rem;
  --lh-live-stream-time: normal;
  --ff-live-stream-time: Graphik-Semibold;
  --fs-live-stream-divider: 1.5rem;
  --lh-live-stream-divider: normal;
  --ff-live-stream-divider: Graphik-Semibold;
  --fs-live-stream-time-label: 0.813rem;
  --lh-live-stream-time-label: 1.69231;
  --ff-live-stream-time-label: proximanova-medium;
  --fs-markup-heading: 1.5rem;
  --lh-markup-heading: normal;
  --ff-markup-heading: Graphik-Semibold;
  --fs-min-nav-heading: 1.125rem;
  --lh-min-nav-heading: normal;
  --ff-min-nav-heading: Graphik-Semibold;
  --fs-source-quotes: 1rem;
  --lh-source-quotes: normal;
  --ff-source-quotes: proximanova-regular, sans-serif;
  --fs-paragragh-page-not-found: 0.938rem;
  --lh-paragragh-page-not-found: 1.725;
  --ff-paragragh-page-not-found: proximanova-regular, sans-serif;
  --fs-h4-page-not-found: 1.125rem;
  --lh-h4-page-not-found: 1.5625;
  --ff-h4-page-not-found: proximanova-bold;
}
@media (min-width: 920px) {
  :root {
    --fs-text: 1.25rem;
    --lh-text: 1.3;
    --ff-text: proximanova-regular, sans-serif;
    --fs-text-body: 1.125rem;
    --lh-text-body: 1.55556;
    --ff-text-body: proximanova-regular, sans-serif;
    --fs-text-sm: 1.125rem;
    --lh-text-sm: normal;
    --ff-text-sm: proximanova-light;
    --fs-text-xs: 1rem;
    --lh-text-xs: 1.1875;
    --ff-text-xs: Graphik-Semibold;
    --fs-text-para: 1.125rem;
    --lh-text-para: 1.55556;
    --ff-text-para: proximanova-regular, sans-serif;
    --fs-text-bold: 1.125rem;
    --lh-text-bold: 1.38889;
    --ff-text-bold: proximanova-bold;
    --fs-h1: 2.875rem;
    --lh-h1: normal;
    --ff-h1: Graphik-Semibold;
    --fs-h1-s: 2.875rem;
    --lh-h1-s: 1.17391;
    --ff-h1-s: Graphik-Semibold;
    --fs-h2: 1.625rem;
    --lh-h2: 1.11538;
    --ff-h2: Graphik-Semibold;
    --fs-h3: 1.625rem;
    --lh-h3: 1.11538;
    --ff-h3: Graphik-Semibold;
    --fs-h4: 1rem;
    --lh-h4: 1.1875;
    --ff-h4: Graphik-Semibold;
    --fs-h5: 1.375rem;
    --lh-h5: 1.31818;
    --ff-h5: ;
    --fs-h6: 1rem;
    --lh-h6: 1.1875;
    --ff-h6: Graphik-Semibold;
    --fs-button: 1rem;
    --lh-button: 1.1875;
    --ff-button: Graphik-Semibold;
    --fs-button-s: 0.75rem;
    --lh-button-s: 1.5;
    --ff-button-s: Graphik-Medium;
    --fs-caption: 0.75rem;
    --lh-caption: 1.25;
    --ff-caption: Graphik-Semibold;
    --fs-category: 0.75rem;
    --lh-category: normal;
    --ff-category: Graphik-Semibold;
    --fs-category-l: 1.75rem;
    --lh-category-l: normal;
    --ff-category-l: Graphik-Semibold;
    --fs-timestamp: 0.813rem;
    --lh-timestamp: normal;
    --ff-timestamp: proximanova-medium;
    --fs-link: 1rem;
    --lh-link: 1.3125;
    --ff-link: Graphik-Semibold;
    --fs-menu: 1rem;
    --lh-menu: 1.125;
    --ff-menu: proximanova-semibold;
    --fs-social: 0.875rem;
    --lh-social: 1.35714;
    --ff-social: Graphik-Semibold;
    --fs-sub-description: 1.125rem;
    --lh-sub-description: 1.33333;
    --ff-sub-description: Graphik-Semibold;
    --fs-quote: 1.625rem;
    --lh-quote: 1.38462;
    --ff-quote: Graphik-Semibold;
    --fs-quote-l: 2.875rem;
    --lh-quote-l: 2.875rem;
    --ff-quote-l: proximanova-bold;
    --fs-context-h2: 1.75rem;
    --lh-context-h2: 1.25;
    --ff-context-h2: Graphik-Semibold;
    --fs-context-btn: 1rem;
    --lh-context-btn: normal;
    --ff-context-btn: proximanova-bold;
    --fs-topics-h2: 1.25rem;
    --lh-topics-h2: normal;
    --ff-topics-h2: Graphik-Semibold;
    --fs-topics-link: 0.875rem;
    --lh-topics-link: 1.57143;
    --ff-topics-link: proximanova-regular, sans-serif;
    --fs-description: 1.5rem;
    --lh-description: 1.16667;
    --ff-description: Graphik-Semibold;
    --fs-sub-description-s: 0.75rem;
    --lh-sub-description-s: 1.25;
    --ff-sub-description-s: proximanova-regular, sans-serif;
    --fs-subscription: 1.5rem;
    --lh-subscription: normal;
    --ff-subscription: Graphik-Semibold;
    --fs-news-title: 1.25rem;
    --lh-news-title: 1.4;
    --ff-news-title: proximanova-bold;
    --fs-news-msg: 1.125rem;
    --lh-news-msg: 1.55556;
    --ff-news-msg: proximanova-regular, sans-serif;
    --fs-article-date: 0.875rem;
    --lh-article-date: 1.28571;
    --ff-article-date: proximanova-semibold;
    --fs-article-date-text: 0.875rem;
    --lh-article-date-text: 1.28571;
    --ff-article-date-text: proximanova-regularit;
    --fs-author-h6: 1rem;
    --lh-author-h6: normal;
    --ff-author-h6: proximanova-semibold;
    --fs-author-by-h6: 1rem;
    --lh-author-by-h6: normal;
    --ff-author-by-h6: proximanova-regularit;
    --fs-sticky-news-title: 1.125rem;
    --lh-sticky-news-title: -0.01667;
    --ff-sticky-news-title: Graphik-Semibold;
    --fs-sticky-news-des: 1.125rem;
    --lh-sticky-news-des: -0.01667;
    --ff-sticky-news-des: Graphik-Medium;
    --fs-index-number: 3.125rem;
    --lh-index-number: normal;
    --ff-index-number: Graphik-Semibold;
    --fs-duration: 1rem;
    --lh-duration: 1.375;
    --ff-duration: proximanova-regular, sans-serif;
    --fs-watch-h4: 1.125rem;
    --lh-watch-h4: 1.11111;
    --ff-watch-h4: Graphik-Semibold;
    --fs-paragraph: 1rem;
    --lh-paragraph: 1.3125;
    --ff-paragraph: proximanova-regular, sans-serif;
    --fs-flag-text-small: 0.688rem;
    --lh-flag-text-small: 1.45455;
    --ff-flag-text-small: Graphik-Semibold;
    --fs-flag-text: 0.938rem;
    --lh-flag-text: 1.33333;
    --ff-flag-text: Graphik-Semibold;
    --fs-filter-text: 0.875rem;
    --lh-filter-text: 1.28571;
    --ff-filter-text: Graphik-Medium;
    --fs-pager-text: 1rem;
    --lh-pager-text: 1.25;
    --ff-pager-text: Graphik-Medium;
    --fs-author-info: 1rem;
    --lh-author-info: 1;
    --ff-author-info: proximanova-medium;
    --fs-sponsor-title: 1rem;
    --lh-sponsor-title: 1.125;
    --ff-sponsor-title: proximanova-semibold;
    --fs-share-popup-title: 1.25rem;
    --lh-share-popup-title: 1.5625rem;
    --ff-share-popup-title: Graphik-Semibold;
    --fs-byline: 0.875rem;
    --lh-byline: normal;
    --ff-byline: proximanova-regular, sans-serif;
    --fs-flag-minute: 0.75rem;
    --lh-flag-minute: normal;
    --ff-flag-minute: Graphik-Semibold;
    --fs-minute-title: 1.125rem;
    --lh-minute-title: normal;
    --ff-minute-title: Graphik-Semibold;
    --fs-journalist-title: 1.25rem;
    --lh-journalist-title: 1.8125rem;
    --ff-journalist-title: proximanova-medium;
    --fs-min-description: 1.125rem;
    --lh-min-description: normal;
    --ff-min-description: proximanova-mediumit;
    --fs-liveblog-timestamp: 0.813rem;
    --lh-liveblog-timestamp: 1;
    --ff-liveblog-timestamp: proximanova-bold;
    --fs-liveblog-timeline-heading: 0.875rem;
    --lh-liveblog-timeline-heading: 1.35714;
    --ff-liveblog-timeline-heading: Graphik-Semibold;
    --fs-liveblog-list-heading: 1.5rem;
    --lh-liveblog-list-heading: 1.25;
    --ff-liveblog-list-heading: Graphik-Semibold;
    --fs-also-worth: 1.25rem;
    --lh-also-worth: normal;
    --ff-also-worth: Graphik-Semibold;
    --fs-input-text: 1.125rem;
    --lh-input-text: 0.88889;
    --ff-input-text: proximanova-regular, sans-serif;
    --fs-recent-link: 1.125rem;
    --lh-recent-link: normal;
    --ff-recent-link: proximanova-regular, sans-serif;
    --fs-tab-link-button: 1rem;
    --lh-tab-link-button: normal;
    --ff-tab-link-button: Graphik-Medium;
    --fs-contact-us-title: 2.875rem;
    --lh-contact-us-title: normal;
    --ff-contact-us-title: Graphik-Medium;
    --fs-field-label: 0.875rem;
    --lh-field-label: normal;
    --ff-field-label: proximanova-bold;
    --fs-field-value: 1.25rem;
    --lh-field-value: 1.6875rem;
    --ff-field-value: proximanova-regular, sans-serif;
    --fs-myaccount-cta: 0.75rem;
    --lh-myaccount-cta: normal;
    --ff-myaccount-cta: Graphik-Medium;
    --fs-h2-page-not-found: 2rem;
    --lh-h2-page-not-found: 2.3125rem;
    --ff-h2-page-not-found: Graphik-Semibold;
    --fs-article-cta: 0.875rem;
    --lh-article-cta: normal;
    --ff-article-cta: Graphik-Medium;
    --fs-live-stream-label: 1.25rem;
    --lh-live-stream-label: normal;
    --ff-live-stream-label: proximanova-bold;
    --fs-live-stream-time: 4.25rem;
    --lh-live-stream-time: normal;
    --ff-live-stream-time: Graphik-Semibold;
    --fs-live-stream-divider: 2.625rem;
    --lh-live-stream-divider: normal;
    --ff-live-stream-divider: Graphik-Semibold;
    --fs-live-stream-time-label: 1rem;
    --lh-live-stream-time-label: 1.375;
    --ff-live-stream-time-label: proximanova-medium;
    --fs-markup-heading: 2rem;
    --lh-markup-heading: 0.90625;
    --ff-markup-heading: Graphik-Semibold;
    --fs-min-nav-heading: 1.125rem;
    --lh-min-nav-heading: normal;
    --ff-min-nav-heading: Graphik-Semibold;
    --fs-source-quotes: 1rem;
    --lh-source-quotes: 1.75;
    --ff-source-quotes: proximanova-regular, sans-serif;
    --fs-paragragh-page-not-found: 1.125rem;
    --lh-paragragh-page-not-found: 1.5625;
    --ff-paragragh-page-not-found: proximanova-regular, sans-serif;
    --fs-h4-page-not-found: 1.25rem;
    --lh-h4-page-not-found: 1.5625;
    --ff-h4-page-not-found: proximanova-bold;
  }
}
:root {
  --c-text: #000;
  --c-heading: #4a4f54;
  --c-heading-inverse: #000;
  --c-text-inverse: #fff;
  --c-background: #fff;
  --c-background-inverse: rgba(20, 62, 81, 0.03);
  --c-background-inverse-one: #2d2c2c;
  --c-muted-accent-light: #f5f5f5;
  --c-muted-accent-high: #d5d5d5;
  --c-muted: #f8f8f8;
  --c-border: #eaeaea;
  --c-accent: #636363;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-primary: #d22d28;
  --c-primary-accent: #e20000;
  --c-menu-overlay: rgba(0, 0, 0, 0.9);
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-title: #d4d4d4;
  --c-background-rgba: rgba(0, 0, 0, 0.03);
  --c-element-divider: rgba(213, 213, 213, 0.5);
  --c-flag-light-red: #fd2b25;
  --c-flag-dark-red: #9e221e;
  --c-watch: #fff;
  --c-grey-border-lighter: #d8d8d8;
  --c-image-byline-bg: rgba(33, 37, 41, 0.7);
  --c-white-color: #fff;
  --c-timeline: #d22d28;
  --c-liveblog: #6c6c6c;
  --c-darkest-grey: #212529;
  --c-view-more-inverse: #d22d28;
  --c-text-equivalent: #000;
  --c-view-more: #fff;
  --c-link-hover: #e20000;
  --c-gray-equivalent: #4a4f54;
}
:root [data-theme="default"] {
  --c-text: #000;
  --c-heading: #4a4f54;
  --c-heading-inverse: #000;
  --c-text-inverse: #fff;
  --c-background: #fff;
  --c-background-inverse: rgba(20, 62, 81, 0.03);
  --c-background-inverse-one: #2d2c2c;
  --c-muted-accent-light: #f5f5f5;
  --c-muted-accent-high: #d5d5d5;
  --c-muted: #f8f8f8;
  --c-border: #eaeaea;
  --c-accent: #636363;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-primary: #d22d28;
  --c-primary-accent: #e20000;
  --c-menu-overlay: rgba(0, 0, 0, 0.9);
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-title: #d4d4d4;
  --c-background-rgba: rgba(0, 0, 0, 0.03);
  --c-element-divider: rgba(213, 213, 213, 0.5);
  --c-flag-light-red: #fd2b25;
  --c-flag-dark-red: #9e221e;
  --c-watch: #fff;
  --c-grey-border-lighter: #d8d8d8;
  --c-image-byline-bg: rgba(33, 37, 41, 0.7);
  --c-white-color: #fff;
  --c-timeline: #d22d28;
  --c-liveblog: #6c6c6c;
  --c-darkest-grey: #212529;
  --c-view-more-inverse: #d22d28;
  --c-text-equivalent: #000;
  --c-view-more: #fff;
  --c-link-hover: #e20000;
  --c-gray-equivalent: #4a4f54;
}
:root [data-theme="dark"] {
  --c-text: #fff;
  --c-text-inverse: #fff;
  --c-heading: #d4d4d4;
  --c-heading-inverse: #d4d4d4;
  --c-muted: #f8f8f8;
  --c-muted-accent-light: #f5f5f5;
  --c-border: #636363;
  --c-muted-accent-high: #d5d5d5;
  --c-accent: #636363;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-primary: #d22d28;
  --c-primary-accent: #e20000;
  --c-menu-overlay: rgba(0, 0, 0, 0.9);
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-title: #d4d4d4;
  --c-background-rgba: rgba(0, 0, 0, 0.03);
  --c-element-divider: rgba(255, 255, 255, 0.2);
  --c-watch: #d4d4d4;
  --c-grey-border-lighter: #d8d8d8;
  --c-timeline: #d22d28;
  --c-liveblog: #6c6c6c;
  --c-view-more-inverse: #fff;
  --c-text-equivalent: #000;
  --c-view-more: #d22d28;
  --c-link-hover: #e20000;
  --c-gray-equivalent: #4a4f54;
}
:root [data-theme="layout"] {
  --c-heading: #fff;
  --c-heading-inverse: #d4d4d4;
  --c-view-more-inverse: #fff;
  --c-view-more: #d22d28;
  --c-link-hover: #e20000;
}
:root .dark-theme {
  --c-body-bg: #121212;
}
:root .dark-theme .main {
  --c-text: #fff;
  --c-text-inverse: #fff;
  --c-heading: #d4d4d4;
  --c-heading-inverse: #d4d4d4;
  --c-muted: #f8f8f8;
  --c-muted-accent-light: #f5f5f5;
  --c-border: #636363;
  --c-muted-accent-high: #d5d5d5;
  --c-accent: #636363;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-primary: #d22d28;
  --c-primary-accent: #e20000;
  --c-menu-overlay: rgba(0, 0, 0, 0.9);
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-title: #d4d4d4;
  --c-background-rgba: rgba(0, 0, 0, 0.03);
  --c-element-divider: rgba(255, 255, 255, 0.2);
  --c-watch: #d4d4d4;
  --c-grey-border-lighter: #d8d8d8;
  --c-timeline: #d22d28;
  --c-liveblog: #6c6c6c;
  --c-view-more-inverse: #fff;
  --c-text-equivalent: #000;
  --c-view-more: #d22d28;
  --c-link-hover: #e20000;
  --c-gray-equivalent: #4a4f54;
  color: var(--c-text);
}
:root .layout[style].lb_section__light_mode {
  --c-text: #000;
  --c-heading: #4a4f54;
  --c-heading-inverse: #000;
  --c-text-inverse: #fff;
  --c-background: #fff;
  --c-background-inverse: rgba(20, 62, 81, 0.03);
  --c-background-inverse-one: #2d2c2c;
  --c-muted-accent-light: #f5f5f5;
  --c-muted-accent-high: #d5d5d5;
  --c-muted: #f8f8f8;
  --c-border: #eaeaea;
  --c-accent: #636363;
  --c-warning: #f9fb93;
  --c-error: #fbe3e4;
  --c-message: #cfefc2;
  --c-primary: #d22d28;
  --c-primary-accent: #e20000;
  --c-menu-overlay: rgba(0, 0, 0, 0.9);
  --c-image-overlay: rgba(0, 0, 0, 0.18);
  --c-title: #d4d4d4;
  --c-background-rgba: rgba(0, 0, 0, 0.03);
  --c-element-divider: rgba(213, 213, 213, 0.5);
  --c-flag-light-red: #fd2b25;
  --c-flag-dark-red: #9e221e;
  --c-watch: #fff;
  --c-grey-border-lighter: #d8d8d8;
  --c-image-byline-bg: rgba(33, 37, 41, 0.7);
  --c-white-color: #fff;
  --c-timeline: #d22d28;
  --c-liveblog: #6c6c6c;
  --c-darkest-grey: #212529;
  --c-view-more-inverse: #d22d28;
  --c-text-equivalent: #000;
  --c-view-more: #fff;
  --c-link-hover: #e20000;
  --c-gray-equivalent: #4a4f54;
  color: var(--c-text);
}
:root .layout[style].lb_section__dark_mode {
  --c-heading: #fff;
  --c-heading-inverse: #d4d4d4;
  --c-view-more-inverse: #fff;
  --c-view-more: #d22d28;
  --c-link-hover: #e20000;
  color: var(--c-text);
}